
h1{
    text-align: center;
    margin-top: 300px;
    font-size: 40px;

}

h2{
    text-align: center;
    margin-top: 20px;
    font-size: 50px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #bdddf8;
  font-family: 'Open Sans', sans-serif;
}

card-body {
  margin-top: 100px;
}

footer {
  margin-top:500px;
}
