{% extends 'base.html' %}
{% block content %}
  <div class="row row-cols-1 row-cols-md-3">
    <div class="container">

      {% for list in lists %}

        <div class="col my-3 row my-3">
          <div class="w-30 h-30 p-3" style="background-color: #249afb">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <img src={{list.imageURL}} class="img-thumbnail" alt="...">
                <h5 class="card-title">제목 : {{list.title}}</h5>
                <h5 class="card-title">가격 : {{list.price}}원</h5>
                <h5 class="card-title">제조사 : {{list.maker}}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="{{list.link}}" class="btn btn-primary stretched-link">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>     
      {% endfor %}
    </div>
</div>

{% endblock content %}
