{% extends 'base.html' %}
{% block content %}
{{form.title}}
      <h1>Review를 클릭하세요.</h1>
      <div class="col my-3 row my-3">
      <div class="container">
        <div class="col my-3 row my-3">
          <div class="w-30 h-30 p-3" style="background-color: #249afb">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">제품명</h5>
                <h5 class="card-title">가격</h5>
                <h5 class="card-title">제조사</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock content %}
